* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  background-color: #28282e; }

.page-wrap {
  width: 100%;
  float: right;
  transition: width 0.3s ease; }
  .page-wrap a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2em; }

.ham-menu {
  padding: 15px; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2c3e50;
  overflow-y: auto;
  transition: width 0.3s ease, z-index 0.3s ease; }
  .navigation a {
    display: block;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2em; }
    .navigation a .fa-check {
      color: #566573; }
    .navigation a .fa-circle {
      color: #1f2b37; }
    .navigation a:hover, .navigation a:focus {
      background: linear-gradient(#506c89, #415971); }
    .navigation a.active .fa-check {
      color: white; }
    .navigation a.active .fa-circle {
      color: #ea2e49; }
  .navigation:after {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    right: -34px;
    height: 100%;
    width: 34px;
    transition: right 0.3s ease;
    background: linear-gradient(right, transparent, rgba(0, 0, 0, 0.6));
    background: -webkit-gradient(linear, right top, left top, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.6)), color-stop(60%, transparent));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.6) 100%, transparent 40%);
    /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.6) 100%, transparent 40%);
    /* FF3.6+ */ }

#main-nav {
  z-index: 0;
  overflow: visible;
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease, width 0.3s ease; }

#main-nav.target {
  width: 20%;
  z-index: 4;
  opacity: 1; }
  #main-nav.target + .page-wrap {
    width: 80%; }
    #main-nav.target + .page-wrap .head-wrap {
      left: 20%; }

.head-wrap {
  position: fixed;
  z-index: 5;
  background: linear-gradient(rgba(40, 40, 46, 0.6), rgba(40, 40, 46, 0.4));
  top: 0;
  left: 0;
  width: 400px;
  transition: left 0.3s ease; }

#logo {
  color: #ffffff;
  display: inline-block;
  font-size: 3em;
  font-weight: 300;
  padding-left: 5%;
  line-height: 2em; }

.heart {
  color: red; }

#album {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  color: gold;
  font-size: 4em;
  background: linear-gradient(rgba(40, 40, 46, 0.6), rgba(40, 40, 46, 0.4));
  z-index: 5;
  /* when a valid draggable is hovering around */ }
  #album.drop-hover {
    color: #77DD77;
    /* when dropping will remove from favorites */ }
    #album.drop-hover.remove {
      color: #DD7777; }

.pic-info {
  padding: 10px;
  color: white; }
  .pic-info p {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text; }

#image-holder {
  top: 100px;
  display: block;
  position: relative;
  width: 100%; }

#temp-holder {
  display: none;
  visibility: hidden; }

.drag-pic {
  width: 100px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
  /*z-index: 6;
    opacity: 0.65;*/ }

.fav-pic:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 2em;
  text-shadow: 0px 0px 5px black;
  position: relative;
  top: 0;
  padding: 5px;
  float: right;
  color: gold;
  z-index: 3; }

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  width: 20%;
  float: left;
  transition: height 0.3s ease, width 0.3s ease;
  animation-duration: 0.5s;
  moz-animation-duration: 0.5s;
  webkit-animation-duration: 0.5s;
  ms-animation-duration: 0.5s; }

@media screen and (max-width: 1000px) {
  .flip-container {
    width: 25%; } }

@media screen and (max-width: 850px) {
  #main-nav.target {
    width: 185px; }
    #main-nav.target + .page-wrap {
      width: 100%; }
      #main-nav.target + .page-wrap .head-wrap {
        left: 185px; } }

@media screen and (max-width: 800px) {
  .flip-container {
    width: 33.33%; } }

@media screen and (max-width: 600px) {
  .flip-container {
    width: 50%; } }

@media screen and (max-width: 400px) {
  .flip-container {
    width: 100%; } }

/* flip the pane when hovered */
.flip-container.flippy .flipper {
  transform: rotateY(180deg); }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }
  .flipper:before {
    content: "";
    display: block;
    padding-top: 100%; }

.front, .back {
  width: 100%;
  height: 100%; }

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }
  .front img {
    width: 100%;
    height: auto; }

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  font-weight: 0;
  /*p.un {
        color: white;
    }
    
    p.loc {
        color: rgb(230,230,230);
    }
    
    p.date {
        color: rgb(205,205,205);
    }
    
    p.caption {
        color: rgb(180,180,180);
    }*/ }
